.theForm{
    width: 78.6%;
    height: 100%;
    margin: auto;
    
    .inForm{
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        width: 100%;
        height: 80%;
        row-gap: 2vh;

        div{
            display: flex;
            flex-direction: column;
            width: 100%;
            row-gap: 2px;
            
        }
        .note{
            textarea{
                min-width: 80%;
                max-width: 80%;
                min-height: 55px;
                max-height: 55px;
            }
        }

        .button{
            margin-top: 1.6%;
            display: flex;
            flex-direction: row;
            width: 100%;
            column-gap: 2%;

            Button{
                width: 100%;
            }
        }
    }
    input[type=text],  input[type=number], select, textarea {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }
    
}
    
