.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .status{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 7%;

        .symbol{
            font-size: 100px;
            color: #0bab64;
            transition: opacity 2s ease-in;
        }

        .head{
            margin-top: 0.75%;
            font-size: 28px;
        }

        .text{
            line-height: 22px;
            color: grey;
            text-align: center;
            margin: 3% 12% 5% 12%;
        }
    }

    .txDetails{
        display: flex;
        flex-direction: column;
        margin: 0 10%;
        row-gap: 25px;

        .flow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .from, .to{
                display: flex;
                flex-direction: column;

                h4{
                    font-size: 23px;
                    color: grey;
                }
            }

            .flowSymbol{
                color: #0bab64;
                margin: auto 0;
            }
        }
        .border{          
            margin: auto 0;
            border-top: 1.3px solid rgb(202, 201, 201, 0.5);
        }
        .minorDetails{
            display: flex;
            flex-direction: column;
            row-gap: 20px;

            .eachDetail{            
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                h4{
                    color: grey;
                }
            }

        }
    }
    .button{
        margin: 13% auto;
        display: flex;
        flex-direction: row;
        width: 80%;
        column-gap: 2%;
        
        Button{
            width: 100%;
        }
    }
}